<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <style>
        a:link, a:visited{
            background-color: darkslateblue;
            color: lightgray;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover, a:active{
            background-color: mediumslateblue;
        }
        pre{
            font-family: Trebuchet MS;
            font-size: 20px;
        }
    </style>
</head>
<body style="background-color: cadetblue">
<h1 style="color:darkslateblue; font-family: 'Trebuchet MS'; font-size: 24px">About me</h1>
<nav>
    <!-- navigation - usually contains links -->
    <a href="/">Home</a>
    <a href="/aboutme">About me</a>
    <a href="/experience">Experience</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contacts">Contacts</a>

</nav>
<br>
<h3 style="font-size: 24px">How it started...</h3>

<p>
    <pre>
    My love to creating cakes started in 2014 when I made a cake for my wedding.
    It was big challenge as I had a little of experience in that and I wanted two
    tier cake what I hadn't made before. Luckily everything come out great and
    guests loved the cake.
</pre>

</p>
<p>
    <img src="https://scontent.frix3-1.fna.fbcdn.net/v/t1.6435-9/66394246_715261295583582_2629615648489078784_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=hUSVsvCMXugAX-iMESW&_nc_ht=scontent.frix3-1.fna&oh=00_AT-uhyPrKHVV0u516G49KL7P0cAIcJuvVLtwcgEy7ok8YA&oe=622C9F0F"
         alt="Cake with blue butterflies" style="float: right; width: 488px; height: 511px; padding-right: 300px; padding-bottom: 300px">
</p>


</body>
</html>




<!--
<span>span for short text witch fits in one line</span>
<br>
<span>span for short text witch fits in one line</span>



<div>
    div can hold some content
    <span>span for short text witch fits in one line</span>
</div>

<section>
    can hold many div
</section>
-->
