<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <style>
        a:link, a:visited{
            background-color: darkslateblue;
            color: lightgray;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover, a:active{
            background-color: mediumslateblue;
        }
        pre{
            font-family: Trebuchet MS;
            font-size: 16px;
        }
    </style>
</head>
<body style="background-color: cadetblue">
<h1 style="color:darkslateblue; font-family: 'Trebuchet MS'; font-size: 24px">About me</h1>
<nav>
    <!-- navigation - usually contains links -->
    <a href="/">Home</a>
    <a href="/aboutme">About me</a>
    <a href="/experience">Experience</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contacts">Contacts</a>

</nav>
<br>
<h3>How it started...</h3>

<p>
    <pre>
    My love to creating cakes started in 2014 when I made a cake for my wedding.
    It was big challenge as I had a little of experience in that and I wanted two
    tier cake what I hadn't made before. Luckily everything come out great and
    guests loved the cake.
</pre>

</p>


</body>
</html>




<!--
<span>span for short text witch fits in one line</span>
<br>
<span>span for short text witch fits in one line</span>



<div>
    div can hold some content
    <span>span for short text witch fits in one line</span>
</div>

<section>
    can hold many div
</section>
-->
