<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <style>
        a:link, a:visited{
            background-color: darkslateblue;
            color: lightgray;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover, a:active{
            background-color: mediumslateblue;
        }
    </style>
</head>
<body style="background-color: cadetblue">
<header>
    <h1 style="color:darkslateblue; font-family: 'Trebuchet MS'; font-size: 24px">Contact information</h1>
<nav>
    <!-- navigation - usually contains links -->
    <a href="/">Home</a>
    <a href="/aboutme">About me</a>
    <a href="/experience">Experience</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contacts">Contacts</a>

</nav>
</header>
<p style="font-family: Trebuchet MS; font-size: 16px">

        Phone no: 126-789-954<br>
        e-mail: lbs@yahoo.com<br>
        Location: Jelgava, Latvia

</p>
<p><a href="mailto:liga.bandeniece@yahoo.com">Send email</a></p>


<!--
<img src="butterflies.jpg"
     style="width:200px; height:200px;"  alt="Cake image"/> -->


</body>
</html>