<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <style>
        a:link, a:visited{
            background-color: darkslateblue;
            color: lightgray;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover, a:active{
            background-color: mediumslateblue;
        }
        h3{
            color:darkslateblue;
            font-family: 'Trebuchet MS';
            font-size: 24px;

        }
    </style>
</head>
<body style="background-color: cadetblue">
<header>
    <h1 style="color:darkslateblue; font-family: 'Trebuchet MS'; font-size: 24px">Experience</h1>
    <nav>
        <!-- navigation - usually contains links -->
        <a href="/">Home</a>
        <a href="/aboutme">About me</a>
        <a href="/experience">Experience</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contacts">Contacts</a>

    </nav>
</header>

<main>
    <h3>Education</h3>
    <section style="font-family: 'Trebuchet MS'; font-size: 20px">
        <div>
             <span><b>Education:</b></span>
                <span>Jelgavas Amatu vidusskola (Lifelong learning project)</span>
        </div>
         <div>
                <span><b>Year:</b></span>
                <span>2019-2020</span>
            </div>

    </section>
    <section style="font-family: 'Trebuchet MS'; font-size: 20px">
        <br>
        <div>
            <span><b>Internship:</b></span>
            <span>36.Line</span>
        </div>
        <div>
            <span><b>Year:</b></span>
            <span>2019</span>
        </div>

    </section>

    <h3>Achievements</h3>
    <section style="font-family: 'Trebuchet MS'; font-size: 20px">
        <div>
            <span><b>Awards:</b></span>
            <span>Second place in the competition "Latvia's tastiest cake"</span>
        </div>
        <div>
            <span><b>Year:</b></span>
            <span>2015</span>
        </div>

    </section>


</main>

</body>
</html>