<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        a:link, a:visited{
            background-color: darkslateblue;
            color: lightgray;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover, a:active{
            background-color: mediumslateblue;
        }
    </style>
    <title>Portfolio</title>
</head>
<body style="background-color: cadetblue">
<header>
    <h1 style="color:darkslateblue; font-family: 'Trebuchet MS'; font-size: 24px">Portfolio</h1>
<nav>
    <!-- navigation - usually contains links -->
    <a href="/">Home</a>
    <a href="/aboutme">About me</a>
    <a href="/experience">Experience</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contacts">Contacts</a>

</nav>
</header>

<main>

    <h3 style="color:darkslateblue; font-family: 'Trebuchet MS'; font-size: large">My works</h3>
    <br>
    <img src="https://scontent.frix3-1.fna.fbcdn.net/v/t1.6435-9/48372379_599961137113599_2738387262923341824_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=7FG0SOcr7CoAX8UoDE4&_nc_ht=scontent.frix3-1.fna&oh=00_AT9LyOBQv42IUmeqi737UctseassgrtX5rVSkjUL8dk3Ew&oe=622B3260"
         style="width:200px; height:200px;"  alt="Cake image"/>
    <br>
    <br>
    <p style="font-family: 'Trebuchet MS'; font-size: 16px">Please visit Facebook for all my works</p>
    <br>
<a href="https://www.facebook.com/ligaskukas/photos_by" target="_blank">My works in Facebook</a>
</main>
</body>
</html>